body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-decoration: none;
    text-align: center;
}

a{
    text-decoration: none;
}

div{
    text-align: center;
}
